*{
    margin: 0;
    padding: 0;
}

body{
    background-color: white;
    color: black;
}

.left{
    width: 25vw;
}

.right{
    width: 75vw;
}

.navbar img{
    gap: 19px;
    width: 32px;
}

.navbar{
    height: 48px;
    justify-content: space-between;
    align-items: center;
}

.logo{
    margin: 30px;
    width:32px ;
}

.home img{
    width: 20px;
}

.home{
    width: 48px;
    border-radius: 50%;
    justify-content: center;
    margin-right: 15px;
    align-items: center;
}

style{
    width: 428px;
    padding: 12px;
}