
/* xmlns="http://www.w3.org/2000/svg"  */

.border{
    border: 2px solid red;
    margin: 3px;
}

.flex{
    display: flex;
}

.j-c{
    justify-content: center;
}

.a-c{
    align-items: center;
}

.invert{
    filter: invert(1);
}

.bg-black{
    background-color: black;
}
.bg-gray{
    background-color: #1f1f1f;
}